digital-nature-grid-overlay {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    &.s-4 {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    &.s-6 {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
    }

    digital-nature-grid-overlay-cell {
        background: black;
        &.c-1 {
            grid-column: 1;
        }

        &.c-2 {
            grid-column: 2;
        }

        &.c-3 {
            grid-column: 3;
        }

        &.c-4 {
            grid-column: 4;
        }

        &.c-5 {
            grid-column: 5;
        }

        &.c-6 {
            grid-column: 6;
        }

        &.r-1 {
            grid-row: 1;
        }

        &.r-2 {
            grid-row: 2;
        }

        &.r-3 {
            grid-row: 3;
        }

        &.r-4 {
            grid-row: 4;
        }

        &.r-5 {
            grid-row: 5;
        }

        &.r-6 {
            grid-row: 6;
        }

        &.o-1 {
            opacity: 0.1;
        }

        &.o-2 {
            opacity: 0.2;
        }

        &.o-3 {
            opacity: 0.3;
        }

        &.o-4 {
            opacity: 0.4;
        }

        &.o-5 {
            opacity: 0.5;
        }

        &.o-6 {
            opacity: 0.6;
        }

        &.o-7 {
            opacity: 0.7;
        }

        &.o-8 {
            opacity: 0.8;
        }

        &.o-9 {
            opacity: 0.9;
        }

        &.o-10 {
            opacity: 1;
        }
    }
}

.digital-nature-grid-overlay-container {
    padding: 0;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background: var(--background-color-brand-green);

    .digital-nature-logo {
        position: absolute;
        top: calc(var(--page-gutter-width) - 10px);
        left: calc(var(--page-gutter-width) - 10px);
        z-index: 3;
        padding: 10px;

        &:hover {
            opacity: 0.9;
        }
    }

    .back,
    .front {
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";
        gap: 0;
        padding: 0;
        width: 100%;
        align-self: center;
        min-height: 100%;
    }

    .back {
        z-index: 1;
    }

    .front {
        z-index: 2;
        margin: 0 auto;
    }

    .left {
        grid-area: left;
        padding: var(--page-gutter-width);
    }

    .right {
        grid-area: right;
        text-align: right;
    }

    .left,
    .right {
        position: relative;
        align-self: center;
        overflow: hidden;

        /** @TODO Can we remove the whitespace here? It's leaving a bit of whitespace on the bottom of the image **/

        h2 {
            font-size: var(--font-size-large-heading);
        }

        &:has(digital-nature-grid-overlay) {
            padding: 0;
            font-size: 0;
            line-height: 0;
        }

        img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            /** @TODO Does this need a max width to stop it overflowing to the left? **/
            width: 100%;
            max-width: calc((var(--page-width-full) / 2) + var(--page-gutter-width));
        }

        digital-nature-grid-overlay {
            aspect-ratio: 1 / 1;
            width: calc(100% + 1px);
            max-width: calc((var(--page-width-full) / 2) + var(--page-gutter-width) + 1px);
        }
    }

    &.digital-nature-theme-green {
        h2 {
            color: var(--font-color-brand-green-light);
        }

        digital-nature-grid-overlay-cell {
            background: var(--background-color-brand-green);
        }
    }
}

@media screen and (max-width: 768px) {
    .digital-nature-grid-overlay-container {
        display: block;

        .front,
        .back {
            display: block;
        }
    }
}