.digital-nature-admin-wrap-global {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: var(--colour-brand-green);

    /** Reset wordpress styles **/
    .form-table,
    .button,
    .button-primary,
    .button-secondary,
    p.submit {
        font-size: 1em;
        line-height: 1em;
        min-height: auto;
    }
}

.digital-nature-admin-wrap {
    font-family: "Geist", sans-serif;
    font-weight: var(--font-weight-regular);
    max-width: var(--page-width-max);
    margin: 0 auto;
    font-size: var(--font-size-paragraph-small);

    button, input, select, textarea {
        box-sizing: border-box;
        font-family: inherit;
        font-size: var(--font-size-paragraph-small);
        font-weight: inherit;
    }

    p {
        font-size: var(--font-size-paragraph);
        line-height: var(--line-height-standard);
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: var(--font-weight-medium);
        letter-spacing: -0.04em;
        line-height: var(--line-height-small);

        em {
            font-family: "Instrument Serif", serif;
        }
    }

    .font-size-extra-large-heading {
        font-size: var(--font-size-extra-large-heading);
    }

    .font-size-large-heading {
        font-size: var(--font-size-large-heading);
    }

    .font-size-medium-heading {
        font-size: var(--font-size-medium-heading);
    }

    .font-size-small-heading {
        font-size: var(--font-size-small-heading);
    }

    .font-size-extra-small-heading {
        font-size: var(--font-size-extra-small-heading);
    }

    .digital-nature-hero {

    }

    .digital-nature-admin-wrap-content {
        position: relative;
        background: var(--background-color-brand-grey-light);
        padding: 20px;

        h1, h2, h3, h4, h5, h6 {
            display: inline-block;
            padding-bottom: 10px;
            border-bottom: 1px solid black;
        }

        &:has(div.notice) {
            padding-top: 10px;
        }

        div.notice {
            margin: 10px 0;
            border-radius: var(--border-radius-small);
        }

        &:has(.digital-nature-admin-wrap-panel-title) {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 3fr;
            grid-template-areas: "panel body";
            gap: 0;
            padding: 0;
        }

        .digital-nature-admin-wrap-panel-title,
        .digital-nature-admin-wrap-panel-body {
            padding: 20px;
        }

        .digital-nature-admin-wrap-panel-title {
            grid-area: panel;
            background: var(--background-color-brand-green);
            color: var(--font-color-brand-green-light);
        }

        .digital-nature-admin-wrap-panel-body {
            grid-area: body;
            padding-left: 40px;
        }
    }

    input {
        border-radius: 0;
        border-width: 0 0 1px 0;
        border-color: #C9C9C9;
        padding: 0 8px;
        line-height: var(--line-height-large);
        font-size: var(--font-size-paragraph);

        &:focus {
            border-width: 0 0 1px 0;
            border-color: #696969;
        }
    }

    input[type=submit],
    button:not(.notice-dismiss),
    a.button {
        display: inline-block;
        padding: var(--button-padding-vertical) var(--button-padding-horizontal);
        border: 0;
        background-color: var(--colour-brand-green);
        color: #FFF;
        border-radius: var(--border-radius-button);
        cursor: pointer;
        font-size: var(--button-font-size);

        &:hover {
            background-color: var(--colour-brand-green);
            filter: brightness(120%);
        }
    }

    button[type=submit] {
        display: block;
        margin-top: var(--margin-standard);
    }

    label {
        display: inline-block;
    }

    /** labels and the wordpress equivalent for settings */
    label,
    .form-table th {
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-standard);
        width: var(--form-label-width);
        padding: var(--padding-standard) var(--padding-small) var(--padding-standard) 0;
        font-size: var(--font-size-paragraph);
    }
}

@media screen and (max-width: 1024px) {
    .digital-nature-admin-wrap {
        .digital-nature-admin-wrap-content {
            &:has(.digital-nature-admin-wrap-panel-title) {
                display: block;
            }

            .digital-nature-admin-wrap-panel-title,
            .digital-nature-admin-wrap-panel-body {
                border-right: 0;
                border-left: 0;
                padding: var(--page-gutter-width);
            }
        }
    }
}